*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(230, 229, 229);
    font-family: 'Roboto', sans-serif;
}
.intro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid rgb(160, 158, 158);
}
.side-nav{
    border: 1px solid black;
    width: 35%;
    height: auto;
    margin: 20px 10px;
    box-shadow: 0px 0px 3px 0px black;
    background-color: white;
}
.nav-image{
    position: relative;
}
.nav-image img{
    object-fit: contain;
    width: 100%;
    height: auto;
}
.nav-image .nav-image-content{
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 1.5rem;
}
.intro .fa-solid{
    color: #009688;
    margin-left: 15px;
    margin-bottom: 10px;
}

/* skills section css */
.skills-section{
    border: 1px solid red;
    width: 100%;
    height: auto;
    margin-top: 15px;
}