*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
}
.nav-bar{
    width: 100%;
    background-color: white;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.nav-bar .left-box{
    /* border: 1px solid green; */
    height: fit-content;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 20px 10px;
    padding: 10px;
}
.nav-bar .left-box:hover{
    background-color: #cccccc;
    cursor: pointer;
}
.nav-bar .right-box{
    /* border: 1px solid green; */
    height: fit-content;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 20px 10px;
    padding: 10px;
}
.nav-bar .right-box:hover{
    background-color: #cccccc;
    cursor: pointer;
}

/* main body css starts */
main.main-body{
   display: flex;
   /* border: 1px solid red; */
   width: 100%;
   height: auto;
}
.left-images{
    width: 50%;
    /* border: 1px solid blue; */
}
.left-images img{
    width: 100%;
    height: fit-content;
    object-fit: contain;
    /* margin-top: -9px; */
}
.right-images{
    width: 50%;
    /* border: 1px solid blue; */
}
.right-images img{
    width: 100%;
    height: fit-content;
    object-fit: contain;
    /* margin-top: -9px; */
}
.img-fit{
    margin-top: -9px;
}

/* about section css */
main.about{
    width: 60%;
    height: auto;
    /* border: 1px solid blue; */
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

.about h3{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.about img{
    width: 320px;
}
.about p{
    font-family: 'Raleway', sans-serif;
}
.one{
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}
.two{
    color: #e91e63;
    font-size: 18px;
    line-height: 27px;
}

/* form starts */
form{
    /* border: 1px solid blue; */
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 20px;
}
form label{
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
form input{
    width: 100%;
    margin-bottom: 10px;
    height: 45px;
    border: 1px solid #cccccc;
}
form button{
    width: 100%;
    color: white;
    height: 30px;
    background-color: #616161;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border: none;
}
form button:hover{
    background-color: #cccccc;
    cursor: pointer;
    color: black;
    
}
form p{
    /* border: 1px solid green; */
    text-align: center;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
form p a{
    text-decoration: underline;
    color: inherit;
}
form p a:hover{
    color: #4caf50;
}
footer{
    height: 15vh;
    width: 100%;
    /* border: 1px solid green; */
}