*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f1f1f1;
}
.header{
    /* border: 1px solid red; */
    width: 60%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.header h1{
    font-size: 36px;
    font-weight: 500;
}
.header p{
    font-size: 15px;
}
.header span{
    background-color: black;
    color: white;
    padding: 4px 6px;
}

/* main section css */
.main-section{
    border: 1px solid red;
    width: 98%;
    height: auto;
    margin: 50px auto;
    display: flex;
}
.leftbox{
    /* border: 1px solid green; */
    width: 70%;
    height: auto;
    font-family: 'Raleway', sans-serif;
}

/* Top Left card css start */
.top-left-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
.p2{
    font-weight: 200;
    font-size: 15px;
}
.top-left-card img{
    object-fit: cover;
}
.top-left-card h3{
    font-size: 22px;
}
.margin{
    margin: 0px 0px 0px 14px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.card-footer p{
    margin: 18px 19px;
}
.card-footer p span{
    background-color: black;
    color: white;
    padding: 8px 10px;
    margin: 0px 4px;
}
.btn{
    padding: 15px;
    margin-bottom: 15px;
    width: 130px;
    border: 1px solid black;
    background-color: white;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(126, 124, 124);
}
/* Top Left card css ends */

/* Bottom Left card css starts */
.bottom-left-card{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
.bottom-left-card img{
    object-fit: contain;
}
/* Bottom Left card css ends */

.rightbox{
    border: 1px solid blue;
    width: 45%;
    height: auto;
    margin-left: 59px;
    display: flex;
    flex-direction: column;

}
.rightbox div{
    
    margin: 20px 0px;
    width: 100%;
    height: auto;
    
}
/* Top right card css */
.top-right-card{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
.top-right-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.top-right-card h2{
    font-weight: 500;
    font-size: 24px;

}
.top-right-card p{
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 22px;
}

/* Middle right Card css */
.mid-right-card{
    border: 1px solid blue;
    width: 100%;
    height: auto;
}
.bx{
    width: 100%;
    height: 30px;
    border: 1px solid red;
}
